.container-app{
  display: flex;
  background-color: #20252a;
}

.header-container{  
  position: sticky;
}

.site-bound-content{
  width: 100%;
  min-height: 100vh;
  margin-left: 50px;
  background-color: #899ca6;
  display: flex;
  flex-direction: column;
}

.site-bound-content.expanded{
  margin-left: 180px;
}

.page-content{
  flex: 1;
}

.dropdown{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.card{
  margin: 20px auto;
  width: 18rem;
}

.title{
  font-weight: bold;
  font-size: 1.2rem;
  margin: 10px 0;
}

.create-post{
  border: 1px solid #dde1e4;
  box-shadow: 0 0 3 5 #829acd;
  border-radius: 0.5rem;
  padding: 1.5rem;
  background-color: #b4cbde;
  width: 40%;
  margin: 30px auto;
}

.sidebar-container-collapsed{
  background-color: #20252a;
  height: 100vh;
  position: fixed;
}
.sidesection{
  cursor: pointer;
  margin-top: 20px;
}

.sidebar-expanded{
  width: 180px; 
  height: 100vh;
  position: fixed;  
}

.options{
  display: flex;
  justify-content: end;
}
.options:hover{
  cursor: pointer;
  color: gray;
}

.Vertical-options{
  display: flex;
  justify-content: end;
}

.Vertical-option-btn{
  display: flex;
  gap: 0.5rem;
  align-items: center;
  background-color: rgb(29, 42, 47);
  border-radius: 0.5rem;
  color: white;
  box-shadow: 0px 4px 8px rgba(37, 5, 5, 0.1);
}

.tags{
  display: flex;
  margin-top: 0.5rem;
  gap: 0.5rem;
}

.like-btn {
  cursor: pointer;
  color: rgb(112, 94, 94);
  transition: color 0.3s ease;
}

.like-btn:active {
  transform: scale(0.6);
}

.like-btn.liked {
  color: red;
}
.like-btn:hover {
  color: red;
}

.reactions{
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 16px;
}

.footer-container{
  margin: auto 50px;
}